<div ng-controller="alumnoController">
    <form ng-submit="agregarAlumno()">
        <fieldset>
            <legend>Agregar nuevo alumno</legend>                   
            <div>
                <label for="legajo"><b>Legajo: </b></label>
                <input id="idLegajo" ng-model="nuevoLegajo" type="number" placeholder="Codigo" name="codigo" required>
            </div>

            <div>
                <label for="nombre"><b>Nombre: </b></label>
                <input id="idNombre" ng-model="nuevoNombre" type="text" placeholder="Nombre" name="nombre" required>
            </div>
            
            <div>
                <label for="apellido"><b>Apellido: </b></label>
                <input id="idApellido" ng-model="nuevoApellido" type="text" placeholder="Apellido" name="apellido" required>
            </div>

            <div>
                <label for="dni"><b>DNI: </b></label>
                <input id="idDNI" ng-model="nuevoDni" type="number" placeholder="DNI" name="dni" required>
            </div>

            <div>
                <input class="btnAceptar" type="submit" value="Modificar" />
            </div>
        </fieldset>
    </form>
</div>