<div ng-controller="alumnoController">    
    <table class="grillaDatos">
        <thead>
            <th>Legajo</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>DNI</th>
            <th>Nota Primer Parcial</th>
            <th>Nota Segundo Parcial</th>
            <th>Editar</th">
            <th>Eliminar</th">
        </thead>
        <tbody id="gridBody" ng-repeat="alumno in alumnosList"></tbody>
            <tr>
                <td>{{alumno.legajo}}</td>
                <td>{{alumno.nombre}}</td>
                <td>{{alumno.apellido}}</td>
                <td>{{alumno.dni}}</td>
                <td>{{alumno.notaNro1}}</td>
                <td>{{alumno.notaNro2}}</td>
            </tr>
    </table>
</div>