<div ng-controller="alumnoController">
        <form ng-submit="modificarAlumno()">
            <fieldset>
                <legend>Modificar datos de alumno</legend>                   
                <div>
                    <label for="legajo"><b>Legajo: </b></label>
                    <input id="idLegajo" ng-model="legajo" type="number" placeholder="Codigo" name="codigo" required>
                </div>
    
                <div>
                    <label for="nombre"><b>Nombre: </b></label>
                    <input id="idNombre" ng-model="nombre" type="text" placeholder="Nombre" name="nombre" required>
                </div>
                
                <div>
                    <label for="apellido"><b>Apellido: </b></label>
                    <input id="idApellido" ng-model="apellido" type="text" placeholder="Apellido" name="apellido" required>
                </div>

                <div>
                    <label for="dni"><b>DNI: </b></label>
                    <input id="idDNI" ng-model="dni" type="number" placeholder="DNI" name="dni" required>
                </div>

                <div>
                    <input class="btnAceptar" type="submit" value="Modificar" />
                </div>
            </fieldset>
        </form>
    </div>