@import url('https://fonts.googleapis.com/css?family=Dancing+Script:400,700|Indie+Flower|Kaushan+Script|Livvic:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,900,900i|Pacifico|Quicksand:300,400,500,600,700|Shadows+Into+Light&display=swap&subset=latin-ext,vietnamese');
/*  Use the following CSS rules to specify these families:
font-family: 'Quicksand', sans-serif;
font-family: 'Indie Flower', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Shadows Into Light', cursive;
font-family: 'Livvic', sans-serif;
font-family: 'Kaushan Script', cursive;
*/

/* Formulario */
legend {
    font-family: 'Kaushan Script', cursive;
    font-size: 60px;
    padding: 2%; 
}


/* Botones */
.btnGeneral {
    background-color: rgb(121, 59, 221);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}

.btnGeneral2 {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}

.btnInicioSesion {
    background-color: rgb(55, 130, 228);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}


.btnEliminar {
    background-color: rgb(233, 7, 7);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}

.btnModificar {
    background-color: rgb(20, 73, 189);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}

.btnCancelar {
    background-color: rgb(243, 40, 4);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}

.btnAceptar {
    background-color: rgb(167, 73, 221);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}


/* Tabla */
.grillaDatos {
    width:100%;
    font-family: 'Livvic', sans-serif;
    border-collapse: collapse;
}

.grillaDatos th, .grillaDatos td {
    border: 1px solid #ddd;
    padding: 8px;
}

.grillaDatos tr:nth-child(even){background-color: #f2f2f2;}

.grillaDatos tr:hover {background-color: #ddd;}

.grillaDatos th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

/* Menu */
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: #313052;
}

.navegacion {
    width: 1000px;
    margin: 30px auto;
    background: #f2f2f2;
}

.navegacion ul {
    list-style: none;
}

.menu > li {
    position: relative;
    display: inline-block;
}

.menu > li span {
    padding: 5px;
}

/* estilo botones menu*/
.menu > li > a {
    display: block;
    padding: 15px 20px;
    color: #353535;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
}

.menu li a:hover {
    color: #ce7d35;
    transition: all .3s;
}

/* Submenu */
.submenu {
    position: absolute;
    background: #597ea8;
    width: 120%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.5s;
}

.submenu li a {
    display: block;
    padding: 15px;
    color: #f2f2f2;
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
}

.menu li:hover .submenu{
    visibility: visible;
    opacity: 1;
}

/* Pie de pagina */
footer{
	position: fixed;
    bottom: 0;
    background-color:#26272b;
    color:#737373;
    width: 100%;
    line-height:24px;
    text-align:center;
    padding:5px 0 5px;
    font-size: small;
    font-family: 'Shadows Into Light', cursive;
}