@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?d1oq8a');
  src:  url('fonts/icomoon.eot?d1oq8a#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?d1oq8a') format('truetype'),
    url('fonts/icomoon.woff?d1oq8a') format('woff'),
    url('fonts/icomoon.svg?d1oq8a#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-book:before {
  content: "\e91f";
}
.icon-users:before {
  content: "\e972";
}
.icon-key:before {
  content: "\e98d";
}
.icon-clipboard:before {
  content: "\e9b8";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-enter:before {
  content: "\ea13";
}
.icon-exit:before {
  content: "\ea14";
}