<!doctype html>
<html ng-app="todoApp">
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
	<script src="todo.js"></script>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<link rel="stylesheet" href="todo.css">
</head>
<body>
	<h2>Todo</h2>
	<div ng-controller="TodoListController as todoList">
		<table class="table table-bordered">
			<tr ng-repeat="usuario in todoList.usuarios">
				<td>{{usuario.nombre}}</td>
				<td>{{usuario.apellido}}</td>
			</tr>
		</table>

		<br>
		
		<form>
				<div class="form-group">
					<label for="exampleInputEmail1">Nombre</label>
					<input type="text" class="form-control" id="exampleInputNombre" placeholder="Nombre" ng-model="todoList.NewUserNombre">
				</div>
				<div class="form-group">
					<label for="exampleInputPassword1">Apellido</label>
					<input type="text" class="form-control" id="exampleInputApellido" placeholder="Apellido" ng-model="todoList.NewUserApellido">
				</div>
				
				<button type="submit" class="btn btn-default" ng-click="todoList.addUsuario()">Submit</button>
		</form>

		<br>

		<span>{{todoList.remaining()}} of {{todoList.todos.length}} remaining</span>
		[ <a href="" ng-click="todoList.archive()">archive</a> ]
		<ul class="unstyled">
			<li ng-repeat="todo in todoList.todos">
				<label class="checkbox">
					<input type="checkbox" ng-model="todo.done">
					<span class="done-{{todo.done}}">{{todo.text}}</span>
				</label>
			</li>
		</ul>
		<form ng-submit="todoList.addTodo()">
			<input type="text" ng-model="todoList.todoText" size="30" placeholder="add new todo here">
			<input class="btn-primary" type="submit" value="add">
		</form>
	</div>
</body>
</html>