body {
    font-family: Arial,sans-serif;
    font-size: 18px;
    line-height: 1.5;
    color: #333;
    background-color: #fff;
    margin: 10px;
}

.fondoRed {
    background-color: red;
}

.fondoGreen {
    background-color: green;
}

.fondoBlue {
    background-color: blue;
}

.letraTeal{
    color: teal;
}

.letraRed{
    color: red;
}

.letraBlue{
    color: blue;
}

.letraOrange{
    color: orange;
}

.letraPurple{
    color: purple;
}

.letraOlive{
    color: olive;
}

.letraFuchsia{
    color: fuchsia;
}

.letraGreen{
    color: green;
}



/****************** Se sobreescriben clases de Bootstrap ******************/
.table-bordered {
    border: 1px solid #ddd;
    border-collapse: separate;
    border-spacing: 2px;
    margin-left: 60px;
}

.btn-default {
    background-color: rgba(107, 25, 240, 0.952) !important; 
    /* Se utiliza "!important" para indicar que en la sobreescritura esta prop es mas importante */ 
    color: honeydew;
}