@import url('https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Livvic&display=swap');

/* Formulario */
legend {
    font-family: 'Kaushan Script', cursive;
    font-size: 60px
}


/* Botones */
.btn {
    background-color: rgb(121, 59, 221);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}

.btn2 {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}

.btnSignup {
    background-color: rgb(55, 130, 228);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}


.btnDelete {
    background-color: rgb(233, 7, 7);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}

.btnModify {
    background-color: rgb(20, 73, 189);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}

.btnCancel {
    background-color: rgb(243, 40, 4);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}

.btnAcept {
    background-color: rgb(167, 73, 221);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}


/* Tabla */
.dataTable {
    width:100%;
    font-family: 'Livvic', sans-serif;
    border-collapse: collapse;
}

.dataTable th, .dataTable td {
    border: 1px solid #ddd;
    padding: 8px;
}

.dataTable tr:nth-child(even){background-color: #f2f2f2;}

.dataTable tr:hover {background-color: #ddd;}