<!DOCTYPE html>
<html lang="es" ng-app="alumnoApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="css/iconos.css">
    <link rel="stylesheet" type="text/css" href="css/estilos.css">
    <script src="../lib/angular.min.js"></script>
    <script src="../lib/angular-route.min.js"></script>
    <script src="../lib/angular-animate.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/app.js"></script>
    <title>Intranet</title>
</head>
<body>
    <header>
        <nav class="navegacion">
            <ul class="menu">
                <li><a href="#/home"><span class="icon-book"></span>Alumnos</a>
                    <ul class="submenu">
                        <li><a href="#/altaalumno">Alta</a></li>
                        <li><a href="#/bajaalumno">Baja</a></li>
                        <li><a href="#/modificacionalumno">Modificacion</a></li>
                    </ul>
                </li>
                <li><a href="#/calificaciones"><span class="icon-clipboard"></span>Calificaciones</a>
                    <ul class="submenu">
                        <li><a href="#/cargacalificaciones">Carga de calificaciones</a></li>
                        <li><a href="#/aplazos">Promedios</a></li>
                        <li><a href="#/promedios">Aplazos</a></li>
                    </ul>
                </li>
                <li><a href="#/estados"><span class="icon-users"></span>Estados</a>
                    <ul class="submenu">
                        <li><a href="#/altaestado">Alta</a></li>
                        <li><a href="#/bajaestado">Baja</a></li>
                        <li><a href="#modificacionestado">Modificacion</a>
                    </ul>
                </li>
                <li><a href="#/clave"><span class="icon-key"></span>Cambio de contraseña</a></li>
                <li ng-controller="usuarioController"><a href="#" ng-click="logout()" ><span class="icon-exit"></span>Cerrar sesion</a></li>
                <li ng-controller="usuarioController"><a href="#/login"><span class="icon-enter"></span>Iniciar sesion</a></li>
            </ul>
        </nav>
    </header>
    <div ng-view></div>

    <footer>
        <p>Copyright &copy; 2019 All Rights Reserved by Belen Medina Roldan</p>
    </footer>
</body>
</html>