<div ng-controller="estadoController">
    <table class="grillaDatos">
        <thead>
            <th>Codigo</th>
            <th>Estado</th>
            <th>Editar estado</th>
            <th>Eliminar estado</th>
        </thead>
        <tbody ng-repeat="estado in estadosList"></tbody>
            <tr>
                <td>{{estado.codigo}}</td>    
                <td>{{estado.descripcion}}</td>
            </tr>
    </table>
</div>
