<div ng-controller="estadoController">
    <form ng-submit="modificarEstado()">
        <fieldset>
            <legend>Modificar estado</legend>                   
            <div>
                <label for="codigo"><b>Codigo: </b></label>
                <input id="idCodigo" ng-model="nuevoCodigo" type="text" placeholder="Codigo" name="codigo" required>
            </div>

            <div>
                <label for="estado"><b>Estado: </b></label>
                <input id="idEstado" ng-model="nuevoEstado" type="text" placeholder="Estado" name="estado" required>
            </div> 

            <div>
                <input class="btnAceptar" type="submit" value="Modificar" />
            </div>
        </fieldset>
    </form>
</div>