<div>
    <form ng-submit="cambiarClave()">
        <fieldset>
            <legend>Login</legend>
            <div>
                <label for="idClave"><b>Clave:</b></label>
                <input id="idClave" ng-model="clave" type="password" name="password" placeholder="Clave" required>
            </div>
            <br>
            <div>
                <label for="idNuevaClave"><b>Nueva clave:</b></label>
                <input id="idNuevaClave" ng-model="nuevaClave" type="password" name="password" placeholder="Nueva clave" required>
            </div>
            <br>
            <div>
                <label for="idConfirmacionClave"><b>Repetir nueva clave:</b></label>
                <input id="idConfirmacionClave" ng-model="confirmacionClave" type="password" name="password" placeholder="Nueva clave" required>
            </div>
            
            <input class="btnGeneral2" type="submit" value="Cambiar">
        </fieldset>
    </form> 
</div>