<div ng-controller="usuarioController">
    <form ng-submit="login()">
        <fieldset>
            <legend>Iniciar sesion</legend>
            <div>
                <label for="idUsuario"><b>Usuario:</b></label>
                <input id="idUsuario" ng-model="usuario.nombre" type="text" name="username" placeholder="Usuario" required>
            </div>
            <br>
            <div>
                <label for="idClave"><b>Clave:</b></label>
                <input id="idClave" ng-model="usuario.clave" type="password" name="password" placeholder="Clave" required>
            </div>
            <br>
            
            <input class="btnGeneral2" type="submit" value="Iniciar sesion">
        </fieldset>
    </form> 
</div>